/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #333;
}

/* Navbar */
.navbar {
    background-color: #7933a1;
    color: white;
    padding: 15px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure it stays on top */
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    height: 2em;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none; /* Remove underline from link */
    color: inherit; /* Inherit text color */
}

.logo img {
    height: 2em; /* Adjust height to match the font size */
    margin-right: 8px; /* Space between image and text */
}

.navbar .nav-links {
    display: flex;
    gap: 20px;
}

.navbar .nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar .nav-links a:hover {
    color: #ffd700;
}

/* Main Content */
.container {
    flex: 1;
    padding: 80px 20px 20px; /* Adjust top padding for fixed navbar */
    max-width: 1100px;
    margin: 0 auto;
}

/* Form Styles */
form {
    background-color: white;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 0 auto; /* Center the form */
}

form h1 {
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
}

/* Form Fields */
form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"], 
form input[type="email"], 
form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

/* Hover and Focus Effects */
form input[type="text"]:focus, 
form input[type="email"]:focus, 
form input[type="password"]:focus {
    border-color: #7933a1;
    box-shadow: 0 0 8px #37134b;
    outline: none;
}
form input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* Submit Button */
form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #7933a1;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

/* Hover Effect for Submit Button */
form input[type="submit"]:hover {
    background-color: #37134b;
    box-shadow: 0 4px 10px rgba(0, 122, 41, 0.3);
}

.form-group {
    margin-bottom: 15px;
}

form .btn {
    width: 100%;
    padding: 10px;
    background-color: #7933a1;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

form .btn:hover {
    background-color: #37134b;
    box-shadow: 0 4px 10px rgba(0, 122, 41, 0.3);
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    resize: none;
}

/* Alert Messages */
.alert {
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
}

.alert-success {
    background-color: #d8e7f0;
    color: #3c763d;
}

.alert-info {
    background-color: #dff0d8;
    color: #406f7c;
}

.alert-danger {
    background-color: #f2dede;
    color: #a94442;
}

.spinner-border {
    width: 4rem;
    height: 4rem;
    border: 0.4rem solid rgba(0, 0, 0, 0.1);
    border-top-color: #007bff;
    border-radius: 50%;
    animation: spin 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
    position: absolute;
    top: 2;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    
}



/* Hero Section */
#hero {
    background: linear-gradient(to bottom, #B19CD9, rgba(70, 74, 71, 0.9)), url('homeimg.png') no-repeat center center/cover;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
    
}

#hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    animation: slideDown 1s ease-in-out;
}

#hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    animation: slideUp 1s ease-in-out;
}

#hero .btn-primary {
    padding: 10px 20px;
    background-color: #7933a1;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#hero .btn-primary:hover {
    background-color: #37134b;
    transform: scale(1.05);
}

p {
    line-height: 1.6;
}

/* How It Works Section */
.section {
    padding: 60px 0;
}

#how-it-works .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

html {
    scroll-behavior: smooth;
}


.section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
    color: #7933a1;
    animation: fadeIn 1s ease-in-out;
}

.steps {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.step {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex-basis: calc(33.333% - 20px);
    margin-bottom: 30px;
}

.step:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.step i {
    font-size: 2rem;
    color: #4f007a;
    margin-bottom: 15px;
}

.step h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.step p {
    color: #666;
}

/* Call to Action Section */
#cta {
    background-color: #7933a1;
    color: white;
    text-align: center;
    padding: 60px 20px;
    animation: fadeIn 1s ease-in-out;
}

#cta .cta-content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#cta .btn-secondary {
    padding: 10px 20px;
    background-color: white;
    color: #7933a1;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#cta .btn-secondary:hover {
    background-color: #e6e6e6;
    transform: scale(1.05);
}

/* General Styling for Sections */
#job-results, #job-result2 {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Job Table Styling */
.job-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.job-table thead {
    background-color: #630099;
    color: white;
}

.job-table th, .job-table td {
    padding: 12px 15px;
    text-align: left;
}

.job-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.job-table tr:hover {
    background-color: #d7a8ee;
}

.job-link {
    color: #31007a;
    text-decoration: none;
    font-weight: bold;
}

.job-link:hover {
    text-decoration: underline;
}

/* Details Section */
.details-section {
    margin-top: 20px;
}

.details-section h2 {
    margin-bottom: 10px;
}

.details-section ul {
    list-style-type: none;
    padding-left: 0;
}

.details-section li {
    margin-bottom: 8px;
    font-size: 16px;
}

.nested-list {
    padding-left: 20px;
    list-style-type: disc;
}

/* Result Section Styling */
.result-section {
    margin-top: 20px;
}

.result-highlight {
    font-size: 18px;
    font-weight: bold;
    color: #5b007a;
}

/* Clear Form Button */
.clear-form {
    text-align: center;
    margin-top: 20px;
}

.btn-clear {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-clear:hover {
    background-color: #e60000;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@media (max-width: 768px) {
    .navbar .container {
        flex-direction: column;
    }

    .navbar .nav-links {
        flex-direction: column;
        gap: 10px;
    }
}
